# General ignores
*.bin
*.exe
*.dll
*.so
*.obj
*.o

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Mono Script System
mono_scripts/sh/*
mono_scripts/bin/*

# GCC Script System
cc_scripts/bin/*
moc/cache/
moc/pid
