Host dl
	Hostname ssh.surf
	Port 9594
	LocalForward 0.0.0.0:3000 0.0.0.0:3000
	LocalForward 0.0.0.0:8000 0.0.0.0:8000

Host ml
	Hostname matrix-linux.cloud
	Port 7071
	LocalForward 3000 localhost:3333
	LocalForward 8000 localhost:8888
