[Unit]
Description=QEMU Virtual Machine (wpc)

[Service]
Type=simple
StandardOutput=journal
ExecStart=/bin/qemu-run wpc
Environment="QEMURUN_VM_PATH=/home/lucie/VM"

[Install]
WantedBy=default.target

